# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
db.sqlite3

# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# IDEs
.vscode/
.idea/
*.swp
*.swo
.DS_Store
backend/.env